
.mdl-layout__content {
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.colorGray {
  color: gray;
  margin-right: 12px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
